body {
    padding: 5em;
    background-color: rgb(245, 179, 245);
}

header, main {
    padding-bottom: 5em;
    text-align: center;
}


h2 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

footer {
    font-size: 45px;
}

.page-title {
    font-size: 72px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
}

.play-btn {
    font-size: 50px;
    padding:10px;
    width: 150px;
    color: rgb(131, 0, 254);
    background-color: aquamarine;
    border-radius: 30px;
    box-shadow:10px 10px;
}

.play-btn:hover {
    transform: scale(.95);
    box-shadow: 8px 8px;
}

.back-btn {
    font-size: 25px;
    padding:20px;
    width: 175px;
    color: rgb(132, 0, 255);
    background-color: aquamarine;
    border-radius: 30px;
    box-shadow:10px 10px;
}

